*
{
    padding:0px;
    margin:0px;
}
body{
    height:100vh;
    width:100vw;
    background-color:hsl(0, 0%, 94%);
    display:flex;
    justify-content:center;
    align-items:center;
}
#container
{
    height: 70%;
    width:600px;
    background-color:white;
    box-sizing:border-box;
    padding:35px;
    border-radius: 15px;
    border-bottom-right-radius:25%;
    position:relative;
}
#inputarea
{
    width:100%;
    height:auto;
    display:flex;
    justify-content:flex-start;
    border-bottom:1px solid hsl(0, 0%, 86%);
}
.date{
    margin-right:20px;
    padding-bottom:25px;
    
}
.date p{
    font-size:12px;
    font-weight:bold;
    margin-bottom:10px;
    color:hsl(0, 1%, 44%);
    letter-spacing: 2px;
}
.date div{
    margin-top:5px;
    font-size:10px;
}
input{
    width:111px;
    height:50px;
    border-radius:7px;
    font-size: 20px;
    font-weight:bolder;
    box-sizing:border-box;
    padding:0px 15px 0px 15px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    border:1px solid hsl(0, 0%, 86%);
    caret-color:hsl(259, 100%, 65%);
}
input:hover{
    outline:none;
    border:1px solid hsl(259, 100%, 65%);
    cursor:pointer;
}
input:focus-visible{
    outline:none;
    border:1px solid hsl(259, 100%, 65%);
    cursor:pointer;
}
i{
    padding:30px;
    font-size:30px;
    background-color:hsl(259, 100%, 65%);
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:100px;
    right:35px;
}
i:hover{
    cursor:pointer;
    background-color:black;
}
i:active{
    opacity:0.8;
}
h1 span
{
    color:hsl(259, 100%, 65%);
}
h1{
    font-size:80px;
    line-height:70px;
}
.display{
    margin-top:30px;
    margin-left:5px;
}
.redborder
{
    border:1px solid red;
}
.red
{
    color:red;
}
@media(max-width:380px)
{
    #container
    {
        width:90%;
        height:auto;
    }
    #inputarea
    {
        display:flex;
        justify-content:space-between;
    }
    input
    {
        height:50px;
        width:80px;
        padding:0px 10px 0px 10px;
    }
    .date{
        margin:0px;
        padding-bottom:40px;
    }
    i{
         font-size:20px;
         padding:20px;
         right:41%;
         top:137px;
    }
    h1{
        font-size:60px;
        line-height:80px;
    }
}